/**
 * [iBtnBgColor 设置btn背景加hover,active时变亮变暗]
 * @param  {[type]} $color:gray     [初始颜色]
 * @param  {[type]} $type:1         [=0使用传入的颜色，>1变亮，<1变暗]
 * @param  {[type]} $hover:2        [hover颜色或百分比]
 * @param  {[type]} $active:10      [active颜色或百分比]
 * @param  {[type]} $time:1         [动画时间 eg:0.3s]
 * @param  {[type]} $animation:1    [动画属性 eg: ease]
 * @return {[type]}             [description]
 */

@mixin iBtnBgColor($color:gray, $type:-1, $hover:2, $active:8, $time:0.3s, $animation:ease) {
    background-color: $color;
    &:hover {
        @if $type==0 {
            background-color: $color
        }
        @if $type>0 {
            background-color: lighten($color, $hover)
        }
        @if $type<0 {
            background-color: darken($color, $hover)
        }
        transition: all $time $animation;
    }
    &:active {
        @if $type==0 {
            background-color: $color
        }
        @if $type>0 {
            background-color: lighten($color, $active)
        }
        @if $type<0 {
            background-color: darken($color, $active)
        }
    }
}


/**
 * [oPdMgSet 默认设置10到40的各个padding margin]
 * @param  {[type]} $max:4   [基数]
 * @param  {[type]} $mul:10  [倍数]
 * @param  {[type]} $unit:px [单位]
 * @return {[type]}          [description]
 */

@mixin oPdMgSet($max:4, $mul:10, $unit:px) {
    @for $padding-size from 1 through $max {
        .pd-t#{$padding-size*$mul} {
            padding-top: $padding-size * $mul+$unit;
        }
        .pd-r#{$padding-size*$mul} {
            padding-right: $padding-size * $mul+$unit;
        }
        .pd-b#{$padding-size*$mul} {
            padding-bottom: $padding-size * $mul+$unit;
        }
        .pd-l#{$padding-size*$mul} {
            padding-left: $padding-size * $mul+$unit;
        }
        .pd-x#{$padding-size*$mul} {
            padding: 0 $padding-size * $mul+$unit;
        }
        .pd-y#{$padding-size*$mul} {
            padding: $padding-size * $mul+$unit 0;
        }
        .pd-f#{$padding-size*$mul} {
            padding: $padding-size * $mul+$unit;
        }
        .mg-t#{$padding-size*$mul} {
            margin-top: $padding-size * $mul+$unit;
        }
        .mg-r#{$padding-size*$mul} {
            margin-right: $padding-size * $mul+$unit;
        }
        .mg-l#{$padding-size*$mul} {
            margin-left: $padding-size * $mul+$unit;
        }
        .mg-b#{$padding-size*$mul} {
            margin-bottom: $padding-size * $mul+$unit;
        }
        .mg-x#{$padding-size*$mul} {
            margin: 0 $padding-size * $mul+$unit;
        }
        .mg-y#{$padding-size*$mul} {
            margin: $padding-size * $mul+$unit 0;
        }
        .mg-f#{$padding-size*$mul} {
            margin: $padding-size * $mul+$unit;
        }
    }
}