@import './_mixin.scss';
@include oPdMgSet(8, 5);

/* <flex> */

.flex-box {
    display: flex;
}

.flex-item {
    flex: 1;
}

.flex-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.flex-space-between {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}

.flex-space-between-end {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: flex-end;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.flex-middle {
    display: flex;
    align-items: center;
}

.flex-stretch {
    display: flex;
    align-items: stretch;
}

.flex-end {
    align-self: flex-end;
}

.flex-start {
    align-items: flex-start;
}

.flex-shrink {
    flex-shrink: 0;
}

image {
    max-width: 100%;
}