@import '_var.scss';
@import '_mixin.scss';
@include oReset();
@include oRotate();
@include oFsSet();
@include oPdMgSet(8, 5);
@include oFlex();
.c-b {
    @include iCB();
}

.f-l {
    float: left;
}

.f-r {
    float: right;
}

.theme-bg {
    background-color: $themeCol;
    color: #fff;
}